{% extends '::base_user_logged.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
{% endblock %}

{% block body -%}
    <div class="container">
        <div class="input-group">
            <span class="input-group-btn">
                <a class="btn btn-default" href="{{ path('product_with_locale', {'_locale': 'pl'}) }}">
                    Pl
                </a>
                <a class="btn btn-default" href="{{ path('product_with_locale', {'_locale': 'en'}) }}">
                    En
                </a>
            </span>
        </div>
        <h1>
            {% trans %}Product list{% endtrans %}
        </h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Description{% endtrans %}</th>
                    <th>{% trans %}Price{% endtrans %}</th>
                    <th>{% trans %}Created{% endtrans %}</th>
                    <th>{% trans %}Slug{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.getName() }}</td>
                        <td>{{ entity.getDescription() }}</td>
                        <td>{{ entity.price }}</td>
                        <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.slug }}</td>
                        <td>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('product_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('product_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('product_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </div>
{% endblock %}
